.Room{
    height: 100vh;
    display: flex;
}
.Streams{
    display:flex;
    flex-direction: column;
    width: 75%;
}
.userStreams{
    height: 14%;
    border: 2px solid orange;
    padding-left: 35px;
    margin-bottom: 4px;
    margin-top: 8px;
}
.mainStream{
    border: 2px solid orange;
    height: 73%;
}
.options{
    height: 8%;
    border: 2px solid green;
}
.chatbox{
    width: 25%;
    background-color: wheat;
    border: 2px solid red;
}