.Room{
    height: 100vh;
    display: flex;
}
.Streams{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.userStreams{
    height: 21%;
    border: 2px solid #343a40;
    padding-left: 50px;
    padding-right: 31px;
    margin-bottom: 4px;
    margin-top: 8px;
}
.mainStream{
    border: 2px solid #343a40;
    height: 72%;
}
.options{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}