.userVideo{
    /* background-color: white; */
    /* border: 2px solid red; */
    border-radius: 10px;
    width:100%;
    height: 100%;
    cursor: pointer;
    /* object-fit: fill; */
}
.slick-slide div{
  height: 100%;
  width: 200px;
}
/* .options{
    position:absolute;
    top:0px;
    right:0px;
    width:100px;
} */